
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f5f7fa;
  color: #222;
}
header {
  background-color: #2563eb;
  color: white;
  padding: 15px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  object-fit: cover;
}


.title-text h1 {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.2;
}

.title-text p {
  margin: 3px 0 0;
  font-size: 0.9rem;
  opacity: 0.9;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 22px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover, nav a.active {
  color: #ffd43b;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  background: white;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 50%;
  min-width: 280px;
}

.hero h2 {
  font-size: 2rem;
  color: #2563eb;
}

.hero p {
  margin: 15px 0;
  font-size: 1rem;
}

.hero-img {
  width: 40%;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.btn {
  display: inline-block;
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #1e40af;
}

.btn.small {
  padding: 8px 14px;
  font-size: 0.9rem;
}
.products {
  padding: 40px;
  text-align: center;
}
header {
  background-color: #2563eb;
  color: white;
  padding: 15px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover, nav a.active {
  color: #ffd43b;
}

.products h2 {
  color: #2563eb;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  background: #2563eb;
  color: #fff;
  padding: 15px 0;
  margin-top: 30px;
}
